.selectedItem{
        padding: 8px 16px;
    height: 40px;
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 9999px;
    max-width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}