.CategoriesItemContainer{
    padding: 8px 16px;
    height: 40px;
    background-color: var(--background-color);
    color: var(--primary-background-color);
    border: 1px solid var(--border-color);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 9999px;
    max-width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}

.CategoriesItemContainer:hover,
.selectedItem{
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
    border-color: transparent;
}