.skeletonContainer{
    height: 400px;
    margin: 0 15px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    animation: pulse 1.5s infinite ease-in-out;
    background-color: var(--border-color);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}