.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  border-bottom: 1px solid rgb(229, 230, 234);
}

.headerTitle {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.headerParagraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
