@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

:root{
  --primary-text-color: rgb(17, 24, 39);
  --secondary-text-color: rgb(75, 85, 99);
  --hover-text-color: rgb(255, 255, 255);
}
